@font-face {
  font-family: 'PrintClearly-Regular';
  src: font-url('PrintClearly.otf');
  src: font-url('PrintClearly.otf') format('opentype');
  font-style:normal;
  font-weight: normal;
}

@font-face {
  font-family: 'PrintClearly-Bold';
  src: font-url('PrintBold.otf');
  src: font-url('PrintBold.otf') format('opentype');
  font-style:normal;
  font-weight: normal;
}

@font-face {
  font-family: 'PrintClearly-Dashed';
  src: font-url('PrintDashed.otf');
  src: font-url('PrintDashed.otf') format('opentype');
  font-style:normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Metropolis1920-Regular';
  src: font-url('Metropolis 1920.otf');
  src: font-url('Metropolis 1920.otf') format('opentype');
  font-style:normal;
  font-weight: normal;
}